@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300..900&display=swap');

/* General Reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	/********* Primary color *********/
	--grey: rgb(135, 135, 157);

	/********* Neutral colors *********/
	--dark-grey: rgb(40, 40, 61);
	--white: rgb(250, 250, 250);

	/***** Button colors *****/
	--dark-blue: rgb(77, 150, 168);
	--dark-purple: rgb(133, 95, 177);
	--light-blue: rgb(143, 227, 249);

	/***** Background gradient *****/
	--dark-blue-gradient: rgba(77, 150, 168, 0.85);
}

body {
	font-family: 'Red Hat Display', Sans-Serif;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 1.5;
	height: 100svh;
	color: var(--grey);
}

/*************** HEADER ***************/
.header {
	max-width: 144rem;
	padding: 4.5rem 0;
	margin-bottom: 4.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*************** HERO ***************/
.hero {
	padding-top: 2.4rem;
	overflow: hidden;
}

.grid {
	max-width: 144rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 4rem;
}

.container-1 {
	margin-left: -4rem;
	margin-top: -2rem;
}

.image-left {
	width: 95%;
}

.hero__textbox {
	max-width: 54rem;
	text-align: center;
	padding-top: 4rem;
}

.hero__header {
	font-size: 6.4rem;
	font-weight: 900;
	line-height: 1;
	color: var(--dark-grey);
}

.hero__header-text {
	font-size: 1.8rem;
	padding: 4rem 0;
}

.hero__button-box {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.6rem;
}

.container-2 {
	margin-right: -8rem;
	margin-top: 8rem;
}

.image-right {
	width: 90%;
}

/********** REUSEABLE STYLES **********/
.button {
	border: none;
	font-size: inherit;
	font-weight: 900;
	color: var(--white);
	background-color: var(--dark-blue);
	padding: 1.5rem 3rem;
	border-radius: 10rem;
	cursor: pointer;
}

.button span {
	color: var(--light-blue);
}

.button:hover {
	background-color: var(--dark-blue);
	filter: brightness(1.25);
	transform: translateY(0.12rem);
	transition: all 0.4s ease;
}

.button:active {
	transform: translateY(-0.12rem);
	transition: all 0.4s ease;
}

.button-purple {
	background-color: var(--dark-purple);
}

.button-purple:hover {
	background-color: var(--dark-purple);
	filter: brightness(1.3);
}

.steps {
	display: flex;
	flex-direction: column;
	place-items: center;
}

.straight-line {
	height: 10rem;
	border-right: 0.05rem solid var(--grey);
}

.circle {
	font-weight: 900;
	color: var(--grey);
	width: 5.6rem;
	height: 5.6rem;
	border-radius: 50%;
	background-color: var(--white);
	border: 0.05rem solid var(--grey);
	display: flex;
	justify-content: center;
	align-items: center;
}

/*************** ABOUT ***************/
.about {
	padding: 4.6rem 20rem;
	margin-top: 8rem;
	margin-bottom: 15rem;
}

.about__container {
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 4.6rem 0;
}

.img-about {
	width: 100%;
	border-radius: 0.8rem;
}

.features {
	max-width: 57rem;
	text-align: center;
	margin: 0 auto;
}

.features__width {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.features__label {
	font-size: 1.6rem;
	font-weight: 700;
	color: var(--dark-blue);
	letter-spacing: 0.4rem;
	text-transform: uppercase;
}

.features__tittle {
	font-size: 5rem;
	font-weight: 900;
	color: var(--dark-grey);
	line-height: 1;
}

.features__description {
	font-size: 1.8rem;
	font-weight: inherit;
}

/************** FOOTER *************/
.footer {
	color: var(--white);
	padding: 12rem 20rem;
	background-image: linear-gradient(
			var(--dark-blue-gradient),
			var(--dark-blue-gradient)
		),
		url('../assets/desktop/image-footer.jpg');
	background-size: cover, cover;
	background-position: center, center;
	background-repeat: no-repeat, no-repeat;
	position: relative;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
}

.footer__tittle {
	font-size: 3.6rem;
	font-weight: 900;
	line-height: 1;
	max-width: 30rem;
}

.footer__description {
	font-size: inherit;
	font-weight: inherit;
	max-width: 34rem;
}

.steps__2 {
	display: flex;
	flex-direction: column;
	place-items: center;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -82%);
}